@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fontin";
    src: url("@/assets/fonts/Fontin-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("@/assets/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
